"*":
  "atom-beautify":
    html:
      default_beautifier: "Pretty Diff"
      indent_size: 2
      preserve_newlines: false
  core:
    disabledPackages: []
    telemetryConsent: "limited"
    titleBar: "custom"
  editor:
    fontFamily: "\"Fira Code\""
    fontSize: 17
    invisibles: {}
    preferredLineLength: 120
    showInvisibles: true
  "file-icons":
    coloured: false
    onChanges: true
  "fuzzy-finder":
    ignoredNames: [
      "node_modules"
    ]
  "language-babel":
    taggedTemplateGrammar: [
      "\"(?<=<style jsx>{)|(?<=<style jsx global>{)\":source.css.styled"
    ]
  "no-title-bar":
    enableLiberalWindowDragging: false
  "one-dark-ui": {}
  "one-light-ui": {}
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      showInStatusBar: true
    prettierOptions:
      parser: "flow"
    useEslint: true
  tabs:
    enableVcsColoring: true
  welcome:
    showOnStartup: false
